@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: SUSE;
    box-sizing: border-box;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
}
li{
    list-style: none;
}
button{
    border: none;
    background: none;
}

/* ----------------------- Header ------------------------ */
.logo{
    width: 150px;
    cursor: pointer;
    margin-right: 35px;
}
.nav-list{
    display: none;
    gap: 24px;
    align-items: center;
    padding: 12px 48px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}
.header-bar{
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.btn-mode img{
    width: 24px;
}
.btn-mode{
    display: block;
}
.btn-menu img{
    width: 24px;
}
.btn-menu{
    display: block;
    margin-left: 12px;
}
.btn-contact{
    display: none;
    align-items: center;
    padding: 10px 45px;
    border: 1.8px solid ;
    background-image: linear-gradient(to bottom right, #8711c1, #2472fc) 1;
    border-radius: 10000px;
    margin-left: 16px;
}
.side-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 16px;
    padding: 80px 40px;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    bottom: 0;
    height: 100vh;
    z-index: 50;
    background: rgb(255, 255, 255);
    transition: 500ms;
}
.side-menu div img{
    width: 20px;
    cursor: pointer;
}
.side-menu div{
    position: absolute;
    right: 24px;
    top: 24px;
}



/* 768 1024 1280 */



/* -----------------------Media-query------------------------ */
@media (min-width:768px) {
    .btn-menu{
        display: none;
    }
    .nav-list{
        display: flex;
    }
    .logo{
        width: 200px;
    }
    .btn-mode{
        margin-left: 35px;
    }
    .side-menu{
        display: none;
    }
}

@media (min-width:1024px) {
    .nav-list{
        gap: 32px;
    }
    .btn-contact{
        display: flex;
    }
    .header-bar{
        padding: 16px 32px; 
    }
}

@media (min-width:1280px) {
    .header-bar{
        padding: 16px 8%;
    }
}