@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: SUSE;
    box-sizing: border-box;
    /* overflow: hidden; */
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
img{
    display: block;
}
li{
    list-style: none;
}
button{
    border: none;
    background: none;
}
body{
    overflow-x: hidden;
    background: #0f1219;
}


/* ----------------------- Header ------------------------ */
.logo{
    width: 150px;
    cursor: pointer;
    margin-right: 35px;
}
.nav-list{
    position: relative;
    display: none;
    background: transparent;
    padding: 10px 0;

}
.nav-list li a{
    position: relative;
    padding: 15px 20px;
    color: white;
    letter-spacing: 0.01em;
}
#marker{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 85px;
    border-bottom: 5px solid #08f9ff;
    background: linear-gradient(0deg,#08f9ff33,transparent);
    transition: 0.5s;
    pointer-events: none;
    filter: drop-shadow(0 5px 25px #08f9ff);
}

.header-bar{
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.btn-mode img{
    width: 24px;
}
.btn-mode{
    display: block;
}
.btn-menu img{
    width: 24px;
}
.btn-menu{
    display: block;
    margin-left: 12px;
}
.btn-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-radius: 1000px;
    position: relative;
    margin-left: 16px;
    border: 2px solid white;
}
/* .btn-contact::after{
    content: '';
    position: absolute;
    height: 109%;
    width: 103%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, #8711c1,#2472fc);
    z-index: -1;
} */
.side-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 80px 40px;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    bottom: 0;
    height: 100vh;
    z-index: 50;
    background: #0f1219;
    transition: 500ms;
}
.side-menu div img{
    width: 20px;
    cursor: pointer;
}
.side-menu div{
    position: absolute;
    right: 24px;
    top: 24px;
}
.side-menu li a{
    font-size: 24px;
}

/* ----------------------- Home ------------------------ */
.profile-img{
    border-radius: 1000px;
    width: 150px;
    margin-bottom: 15px;
}
.home-section{
    width: 91.666667%;
    max-width: 768px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
    color: rgb(236, 236, 236);
}

.home-section h1{
    font-weight:400;
    font-size: 30px;
    line-height: 36px;
}
.home-section p{
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.home-section h3{
    font-size: 20px;
    line-height: 28px;
}
.btn-resume{
    margin-top: 16px;
}
.btn-resume a img{
    width: 16px;
}
.btn-resume a{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 40px;
    border-width: 1px;
    border-radius: 1000px;
    background-image: linear-gradient(to right, #8711c1,#2472fc);
    color: white;
}


/* ----------------------- About ------------------------ */
.about-section{
    width: 100%;
    padding: 40px 12%;
}
.about-section h4{
    text-align: center;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight:400;
    line-height: 28px;
}
.about-section h2{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
}
.about-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 80px 0;
}
.about-content div:first-child{
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.about-content div:first-child img{
    width: 256px;
    border-radius: 24px;
    max-width: none;
}
.about-content div:last-child{
    flex: 1 1 0%;
}


/* -----------------------Media-query------------------------ */

@media (max-width:1024px) {
    .btn-contact{
        display: none;
    }
}


@media (min-width: 640px) {
    .home-section h1{
        font-size: 50px;
        line-height: 1;
    }
    .about-content div:first-child img{
        width: 320px;
    }
   
}


@media (min-width:768px) {
    .btn-menu{
        display: none;
    }
    .nav-list{
        display: flex;
    }
    .logo{
        width: 200px;
    }
    .btn-mode{
        margin-left: 35px;
    }
    .side-menu{
        display: none;
    }
    .home-section h3, .home-section h3 span{
        font-size: 24px;
        line-height: 32px;   
    }
    .logo{
        margin-left: 20px;
    }
}


@media (min-width:1024px) {
    .nav-list{
        gap: 12px;
    }
    .btn-contact{
        display: flex;
    }
    .header-bar{
        padding: 16px 32px; 
    }
    .home-section h1, .home-section h1 span{
        font-size: 56px;
    }
    .about-section div{
        flex-direction: row;  
    }
    .logo{
        margin-left: 0;
    }
}


@media (min-width:1280px) {
    .header-bar{
        padding: 16px 8%;
    }
}

/* ----------------------- Other-CSS ------------------------ */
.bg-white{
    background: rgba(f, f, f, 0.5);
    backdrop-filter: blur(16px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}