*{
    margin: 0;
    padding: 0;
    /* background: rgb(216, 216, 216); */
    /* background-color: black; */
}
@font-face{
    font-family: H-B;
    src: url(../Fonts/HumanSans-Bold.otf);
}
@font-face{
    font-family: H-M;
    src: url(../Fonts/HumanSans-Medium.otf);
}
@font-face{
    font-family: H-R;
    src: url(../Fonts/HumanSans-Regular.otf);
}
@font-face{
    font-family: H-L;
    src: url(../Fonts/HumanSans-Light.otf);
}

header{
    padding: 10px 5%;
    justify-content: space-between;
    font-size: 18px;
    font-family: H-R;
    position: sticky;
    background: black;
    top: 0;
    z-index: 100;
}
.flex-div{
    display: flex;
    align-items: center;
}
.logo{
    width: 230px;
    display: block;
    margin-right: 35px;
}
.nav-center ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-center ul li a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
}
.nav-center ul li{
    margin-right: 35px;
}
.contact-me-btn{
    width: 150px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: center;
    background: #BD4B4B;
    border-radius: 20px;
}
.contact-me-btn button{
    font-size: 16px;
    color: whitesmoke;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* --------- footer-style ---------- */



.footer-left{
    display: flex;
    align-items: center;
    
}

.footer-left img{
    width: 25px;
    margin-right: 15px;
}

.footer-right ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.footer-right ul li a img{
    width: 35px;
    display: block;
}
footer{
    padding: 10px 5%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}